<!--<div class="container">-->
<mat-card>
  <div class="hidden-small-screen">
    <mat-toolbar>
      <span *ngIf="userFormBuilder.form.controls['$key'].value; then createUser else updateUser"> </span>
      <ng-template #updateUser>{{'user.form.newUser' | translate}}</ng-template>
      <ng-template #createUser>{{'user.form.updateUser' | translate}}</ng-template>
      <span class="fill-remaining-space"></span>
      <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div class="shown-small-screen" align="end">
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1">
      <mat-icon>clear</mat-icon>
    </button>
  </div>

  <mat-card-content>
    <form [formGroup]="userFormBuilder.form">
      <div class="user-dialog-form-container">
        <div class="user-dialog-form-content">
          <input type="hidden" formControlName="$key">

          <mat-form-field color="primary">
            <input formControlName="firstName" required matInput placeholder="{{'user.firstName' | translate}}">
            <!-- adding validation message based on error type -->
            <mat-error *ngIf="userFormBuilder.form.controls['firstName'].errors?.required">Mandatory</mat-error>
            <mat-error *ngIf="userFormBuilder.form.controls['firstName'].errors?.minLength">Minimum 2 characters
            </mat-error>
          </mat-form-field>

          <mat-form-field color="primary">
            <input formControlName="lastName" required matInput placeholder="{{'user.lastName' | translate}}">
            <!-- adding validation message based on error type -->
            <mat-error *ngIf="userFormBuilder.form.controls['lastName'].errors?.required">Mandatory</mat-error>
            <mat-error *ngIf="userFormBuilder.form.controls['lastName'].errors?.minLength">Minimum 2 characters
            </mat-error>
          </mat-form-field>

          <mat-form-field color="primary">
            <input formControlName="username" matInput placeholder="{{'user.username' | translate}}">
            <mat-error *ngIf="userFormBuilder.form.controls['username'].errors?.required">Mandatory</mat-error>
            <mat-error *ngIf="userFormBuilder.form.controls['username'].errors?.email">Must be a valid email
              format
            </mat-error>
          </mat-form-field>

          <mat-form-field color="primary">
            <input formControlName="password" required matInput placeholder="{{'user.password' | translate}}"
                   [type]="hide? 'password' : 'text'">
            <mat-icon color="primary" matSuffix
                      (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="userFormBuilder.form.controls['password'].errors?.required">Mandatory</mat-error>
            <mat-error *ngIf="userFormBuilder.form.controls['password'].errors?.minLength">Minimum 6 characters
            </mat-error>
          </mat-form-field>

          <div class="add-bottom-padding">
            <mat-checkbox formControlName="active"><span>{{'user.active' | translate}}</span></mat-checkbox>
          </div>
        </div>

        <div class="user-dialog-form-content">
          <mat-form-field color="primary">
            <mat-label>{{'user.dateOfBirth' | translate}}</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="{{'form.chooseADate' | translate}}" formControlName="dateOfBirth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <!-- Create a div to hold the nested form array, as it cannot be used as controlFormName -->
          <div formArrayName="roles">
            <span>{{'user.roles' | translate}}</span>
            <button mat-icon-button (click)="userFormBuilder.addRoleFormGroup()">
              <mat-icon>add</mat-icon>
            </button>

            <div *ngFor="let role of userFormBuilder.rolesFormArray.controls; let i = index;" [formGroupName]="i">
              <mat-form-field color="primary">
                <mat-label>{{'user.role' | translate}}</mat-label>
                <mat-select formControlName="value" required>
                  <mat-option *ngFor="let role of availableRoles" [value]="role.value">
                    {{role.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-icon-button color="warn" [disabled]="userFormBuilder.rolesFormArray.length === 1"
                      (click)="userFormBuilder.deleteRoleFormGroup(i)">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <mat-card-actions class="user-dialog-form-actions">
        <div align="end">
          <button mat-raised-button (click)="onClear()">{{'form.clear' | translate}}</button>
          <button mat-raised-button color="primary" type="submit"
                  [disabled]="userFormBuilder.form.invalid"
                  (click)="onSubmit()">{{'form.submit' | translate}}
          </button>
        </div>
      </mat-card-actions>
    </form>

  </mat-card-content>
</mat-card>
<!--</div>-->
