<mat-card>
  <div class="hidden-small-screen">
    <mat-toolbar>
      <span>{{'person.form.updatePerson' | translate}}</span>
      <span class="fill-remaining-space"></span>
      <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div class="shown-small-screen" align="end">
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1">
      <mat-icon>clear</mat-icon>
    </button>
  </div>

  <mat-card-content>
    <form [formGroup]="personFormBuilder.form">
      <div class="person-dialog-form-container">

        <div class="person-dialog-form-content">
          <input type="hidden" formControlName="$key">

          <mat-form-field color="primary">
            <input formControlName="firstName" required matInput placeholder="{{'person.firstName' | translate}}">
            <!-- adding validation message based on error type -->
            <mat-error *ngIf="personFormBuilder.form.controls['firstName'].errors?.required">Mandatory</mat-error>
            <mat-error *ngIf="personFormBuilder.form.controls['firstName'].errors?.minLength">Minimum 2 characters
            </mat-error>
          </mat-form-field>

          <mat-form-field color="primary">
            <input formControlName="lastName" required matInput placeholder="{{'person.lastName' | translate}}">
            <!-- adding validation message based on error type -->
            <mat-error *ngIf="personFormBuilder.form.controls['lastName'].errors?.required">Mandatory</mat-error>
            <mat-error *ngIf="personFormBuilder.form.controls['lastName'].errors?.minLength">Minimum 2 characters
            </mat-error>
          </mat-form-field>

          <mat-form-field color="primary">
            <input formControlName="email" matInput placeholder="{{'person.email' | translate}}" disabled="true">
          </mat-form-field>

          <mat-form-field color="primary">
            <mat-label>{{'person.dateOfBirth' | translate}}</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="{{'form.chooseADate' | translate}}" formControlName="dateOfBirth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </div>

        <div class="person-dialog-form-content">

          <mat-form-field color="primary">
            <input formControlName="phoneNumber" matInput placeholder="{{'person.telephoneNumber' | translate}}">
          </mat-form-field>

<!--          <mat-form-field color="primary">-->
<!--            <input formControlName="allowedSpecialShift" matInput placeholder="{{'person.allowedSpecialShift' | translate}}">-->
<!--          </mat-form-field>-->

          <div class="add-bottom-padding">
            <mat-checkbox formControlName="allowedSpecialShift"><span>{{'person.allowedSpecialShift' | translate}}</span></mat-checkbox>
          </div>

<!--          <mat-form-field color="primary">-->
<!--            <input formControlName="allowedOnCall" matInput placeholder="{{'person.allowedOnCall' | translate}}">-->
<!--          </mat-form-field>-->

          <div class="add-bottom-padding">
            <mat-checkbox formControlName="allowedOnCall"><span>{{'person.allowedOnCall' | translate}}</span></mat-checkbox>
          </div>

<!--          <mat-form-field color="primary">-->
<!--            <input formControlName="fullyTrained" matInput placeholder="{{'person.fullyTrained' | translate}}">-->
<!--          </mat-form-field>-->

          <div class="add-bottom-padding">
            <mat-checkbox formControlName="fullyTrained"><span>{{'person.fullyTrained' | translate}}</span></mat-checkbox>
          </div>

        </div>
      </div>

      <mat-card-actions class="person-dialog-form-actions">
        <div align="end">
          <button mat-raised-button (click)="onClear()">{{'form.clear' | translate}}</button>
          <button mat-raised-button color="primary" type="submit"
                  [disabled]="personFormBuilder.form.invalid"
                  (click)="onSubmit()">{{'form.submit' | translate}}
          </button>
        </div>
      </mat-card-actions>
    </form>

  </mat-card-content>
</mat-card>
