$tabletSize: 800px;

.home {
  &-contentBody {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    min-height: 700px;

    @media (min-width: $tabletSize) {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &-card {
    width: 90%;
    padding-top: 10px;

    @media (min-width: $tabletSize) {
      width: 45%;
      padding-top: 20px;
    }
  }

  //.example-card {
  //  min-width: 200px;
  //  max-width: 400px;
  //  padding: 20px;
  //}
  //
  //.example-header-image {
  //  background-image: url('https://picsum.photos/20');
  //  background-size: cover;
  //}
}


