<div class="container">
  <mat-sidenav-container class="wrapper-sidenav-container">
    <mat-sidenav #sidenav class="wrapper-sidenav mat-elevation-z10"
                 [mode]="'over'"
                 [opened]="isNavBarOpen">
      <mat-toolbar color="primary">
        <!--        <span>Market Engine Nav bar title</span>-->
      </mat-toolbar>

      <div class="wrapper-sidenav-menu">
        <a mat-button class="btn-no-hover" routerLink="/home" (click)="sidenav.toggle()">{{'header.home' | translate}}</a>
        <a mat-button class="btn-no-hover" [hidden]="!usersAccess" (click)="getUsers()">{{'header.users' | translate}}</a>
        <a mat-button class="btn-no-hover" [hidden]="!peopleAccess" (click)="getPeople()">{{'header.people' | translate}}</a>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="wrapper-sidenav-content">
      <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
      <app-loading></app-loading>
      <router-outlet></router-outlet>
      <app-footer></app-footer>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
