<div class="container">
  <mat-toolbar>
    <span>{{'userProfile.title' | translate}}</span>
  </mat-toolbar>

  <!-- user profile detail -->
  <mat-card>
    <mat-card-content>
      <form [formGroup]="userProfileFormBuilder.form" (ngSubmit)="updatePerson()">
        <div class="user-profile-form-container">
          <div class="user-profile-form-content">
            <input type="hidden" formControlName="$key">
            <mat-form-field color="primary">
              <input formControlName="firstName" matInput placeholder="{{'userProfile.firstName' | translate}}">
              <!-- adding validation message based on error type -->
              <mat-error *ngIf="userProfileFormBuilder.form.controls['firstName'].errors?.required">Mandatory
              </mat-error>
              <mat-error *ngIf="userProfileFormBuilder.form.controls['firstName'].errors?.minLength">Minimum 2
                characters
              </mat-error>
            </mat-form-field>

            <mat-form-field color="primary">
              <input formControlName="lastName" matInput placeholder="{{'userProfile.lastName' | translate}}">
              <!-- adding validation message based on error type -->
              <mat-error *ngIf="userProfileFormBuilder.form.controls['lastName'].errors?.required">Mandatory
              </mat-error>
              <mat-error *ngIf="userProfileFormBuilder.form.controls['lastName'].errors?.minLength">Minimum 2
                characters
              </mat-error>
            </mat-form-field>

            <mat-form-field color="primary">
              <input formControlName="email" matInput placeholder="{{'userProfile.email' | translate}}">
              <!-- adding validation message based on error type -->
              <mat-error *ngIf="userProfileFormBuilder.form.controls['email'].errors?.required">Mandatory
              </mat-error>
            </mat-form-field>

            <mat-form-field color="primary">
              <mat-label>{{'userProfile.dateOfBirth' | translate}}</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="{{'form.chooseADate' | translate}}" formControlName="dateOfBirth">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          </div>

          <div class="user-profile-form-content">
            <mat-form-field color="primary">
              <mat-label>{{'userProfile.gender' | translate}}</mat-label>
              <mat-select formControlName="genderId">
                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                  {{gender.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field color="primary">
              <mat-label>{{'userProfile.maritalStatus' | translate}}</mat-label>
              <mat-select formControlName="maritalStatusId">
                <mat-option *ngFor="let maritalStatus of maritalStatuses" [value]="maritalStatus.value">
                  {{maritalStatus.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field color="primary">
              <input formControlName="numberOfDependants" matInput placeholder="{{'userProfile.numberOfDependants' | translate}}">
            </mat-form-field>

            <mat-form-field color="primary">
              <input formControlName="phoneNumber" matInput placeholder="{{'userProfile.phoneNumber' | translate}}">
            </mat-form-field>

          </div>
        </div>

        <mat-card-actions class="user-profile-form-actions">
          <div align="end">
            <button [disabled]="!userProfileFormBuilder.form.valid" mat-raised-button type="submit" color="primary">
              {{'form.update' | translate}}
            </button>
          </div>
        </mat-card-actions>
      </form>

    </mat-card-content>
  </mat-card>

</div>
