/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*html, body { height: 100%; }*/
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
$tabletSize: 800px;

*{
  font-family: "Segoe UI Symbol";
}

.hidden-small-screen {
  display: none;

  @media (min-width: $tabletSize) {
    display: inherit;
  }
}

.shown-small-screen {
  @media (min-width: $tabletSize) {
    display: none;
  }
}

.hide{
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

/* class to make the holl over effect of pointing */
.pointerCursor {
  cursor: pointer;
}

/* mat-confirm-dialog (customised dialog) */
.confirm-dialog-container .mat-dialog-container {
  border-radius: .25em .25em .4em .4em;
  padding: 0px;
}
.confirm-dialog-container .content-container{
  margin: 5px 5px 15px 5px;
  color: #3b4fb5;
  display: flex;
}
.confirm-dialog-container #close-icon{
  margin-left: auto;
  order: 2;
  font-weight: bolder;
}
.confirm-dialog-container #close-icon:hover{
  cursor: pointer;
}
.confirm-dialog-container #no-button{
  height: 50px;
  width: 50%;
  background-color: #fc7169;
  color:white;
  border-radius: 0px;
}
.confirm-dialog-container #yes-button{
  height: 50px;
  width: 50%;
  background-color: #b6bece;
  color:white;
  border-radius: 0px;
}
.confirm-dialog-container span.content-span{
  padding:  35px 16px;
  text-align: center;
  font-size: 20px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
      Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
